{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="fr">

	<head>
		<meta charset="UTF-8"/>

		<link rel="stylesheet" href="{% static 'style.css' %}">
		<title> Royal Pingouin Hockey Club Nivelles </title>
	</head>



	<body>

		<header>
				<img id = "main-banner" src="{% static 'main-banner1.png' %}">
		</header>



		<section>

			<nav>
				<div id="container">
    				<div class="element"><a href="#"> Home </a></div>
    				<div class="element"><a href="#"> Newsfeed </a></div>
    				<div class="element"><a href="#"> Teams </a></div>
    				<div class="element"><a href="#"> Le Pingouin </a></div>
    				<div class="element"><a href="#"> Sponsoring </a></div>
    				<div class="element"><a href="#"> En Pratique </a></div>
				</div>
			</nav>

		<center>
			<article>
				<p> test </p>
				<p> test </p>
				<p> test </p>
				<p> test </p>
				<p> test </p>
				<p> test </p>
				<p> test </p>
				<p> test </p>
				<p> test </p>
				<p> test </p>
			</article>
		</center>

		</section>



		<footer>

			<p> test </p>

		</footer>
	</body>
</html>